.category {
  @media (min-width: 320px) and (max-width: 1080px) {
    padding-inline: 10px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    margin-bottom: 30px;
  }
}
