.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(26, 26, 26, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &__visible {
    visibility: visible;
    opacity: 1;
    .drawer {
      transform: translateX(0);
    }
  }
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
  height: 100%;
  padding: 32px 15px 30px 15px;
  box-shadow: -10px 4px 24px 0px #0000001a;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__button {
    width: 100%;
    height: 48px;
    background-color: #9dd458;
    border-radius: 18px;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 600;
    color: white;
    &:disabled {
      background-color: #bebebe;
      cursor: default;
      animation: button-loading 0.8s ease-in-out infinite;
    }
  }
}
@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
