.total {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  &__inner {
    display: flex;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
  }
  &__line {
    flex: 1;
    border-bottom: 1px dashed #f3f3f3;
    margin: 0 7px;
  }
  &__value {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
  }
}
